<perch:blocks>
    <perch:block label="Choose Camp" type="choose">
        <div class="l-wrap c-choose-camp">
            <div class="c-choose-camp__logo-placeholder"></div>
            <div class="c-choose-camp__choose">
                <h2>Choose Your Camp!</h2>
                <div class="c-choose-camp__options-wrapper">
                <perch:repeater label="Options">
                    <a href="<perch:content id="link" type="text" label="Link">" class="c-choose-camp__option" style="background-image: url(<perch:content id="background" label="Image" type="image" height="300" width="400" crop>)">
                        <h2><perch:content type="text" label="Title" id="optionTitle"></h2>
                    </a>
                </perch:repeater>
                </div>
            </div>
        </div>
    </perch:block>
</perch:blocks>