<perch:blocks>
    <perch:block label="Choose Camp" type="choose">
        <div class="l-wrap l-wrap--tertiary">
            <div class="l-restrict c-logo-left">
                <div class="c-logo-left__placeholder"></div>
                <div class="c-logo-left__content c-choose-camp">
                    <h2>Choose Your Camp!</h2>
                    <div class="c-choose-camp__camps">
                    <perch:repeater label="Options" id="optionsRepeater">
                        <a href="<perch:content id="link" type="text" label="Link">" class="c-choose-camp__camp" style="background-image: url(<perch:content id="background" label="Image" type="image" height="300" width="400" crop>)">
                            <h3><perch:content type="text" label="Title" id="optionTitle"></h3>
                        </a>
                    </perch:repeater>
                    </div>
                </div>
            </div>
        </div>
    </perch:block>

    <perch:template path="content/common_blocks.html">

    <perch:block label="FAQs" type="faq">
        <div class="l-wrap">
            <div class="l-restrict l-restrict--narrow l-restrict--no-top-padding c-faq">
                <h3>Frequently Asked Questions</h3>
                <perch:repeater label="Questions" id="faqRepeater">
                    <div class="c-faq__question-wrapper">
                        <p class="c-faq__question"><strong><perch:content id="question" label="Question" type="text"></strong></p>
                        <div class="c-faq__answer">
                            <perch:content id="answer" label="Answer" type="textarea" editor="redactor" html >
                        </div>
                    </div>
                </perch:repeater>
            </div>
        </div>
    </perch:block>
</perch:blocks>