<perch:block label="Text" type="text">
    <div class="l-wrap">
        <div class="l-restrict l-restrict--narrow l-restrict--<perch:content id="padding" label="Padding" type="select" options="normal, no-top-padding, no-padding"> c-text">
            <perch:content id="text" label="Text" type="textarea" editor="redactor" html>
        </div>
    </div>
</perch:block>

<perch:block label="Booking Enquiry" type="booking">
    <div class="l-wrap l-wrap--tertiary">
        <div class="l-restrict">
            Hello
        </div>
    </div>
</perch:block>