<div class="c-home-intro l-wrap">
    <h2>Explore. Relax. Enjoy.</h2>
    <p class="c-home-intro__feature-paragraph">
        The camps are organised by Waldorf teachers, public and private teachers together,
        some of whom are also Involved in the Camphill movement and who provide
        educational programs for the children.
    </p>
    <p>
        We aim to provide our children not only English Language but also activities and life skills
        which includes creative drama, singing, cooking, dynamic movement, games, paintings and
        more in a beautiful national park in the UK.
    </p>
    <p>
        It is a wonderful opportunity for children from all backgrounds for self-expression and
        creativity in a safe environment. Our teachers try to bring real life understandings to
        children with care and experiences.
    </p>
    <p>
        Christian camps are also organised with the co-operation of church members in the UK.
    </p>
</div>