<perch:blocks>
    <perch:block label="Home Intro" type="text">
        <div class="c-home-intro l-wrap">
            <h2>Explore. Relax. Enjoy.</h2>
            <p class="c-home-intro__feature-paragraph">
                The camps are organised by Waldorf teachers, public and private teachers together,
                some of whom are also Involved in the Camphill movement and who provide
                educational programs for the children.
            </p>
            <p>
                We aim to provide our children not only English Language but also activities and life skills
                which includes creative drama, singing, cooking, dynamic movement, games, paintings and
                more in a beautiful national park in the UK.
            </p>
            <p>
                It is a wonderful opportunity for children from all backgrounds for self-expression and
                creativity in a safe environment. Our teachers try to bring real life understandings to
                children with care and experiences.
            </p>
            <p>
                Christian camps are also organised with the co-operation of church members in the UK.
            </p>
        </div>
    </perch:block>

    <perch:block label="Home Feature Break" type="feature_break">
        <div class="c-feature-break">
            <div class="c-feature-break__banner"></div>
            <div class="c-feature-break__bottom">
                <div class="c-feature-break__testimony">
                    <p class="c-feature-break__testimony-quote">
                        I really loved my time
                        at Moorland Camp in
                        the UK. I especially
                        enjoyed visiting
                        Whitby. Moorland
                        Camps are highly
                        recommended!
                    </p>
                    <p class="c-feature-break__testimony-name">
                        Paul, Korea
                    </p>
                </div>
                <div class="c-feature-break__image-wrapper">
                    <img src="/perch/resources/caroline-jackson-lozb8jpjlaa-unsplashsmall.jpg" alt="Whitby" class="c-feature-break__image">
                    <div class="c-feature-break__caption">
                        <p>Whitby</p>
                        <p>North Yorkshire, UK</p>
                    </div>
                </div>
            </div>
        </div>
    </perch:block>
</perch:blocks>