<div class="c-feature-break">
    <div class="c-feature-break__banner"></div>
    <div class="c-feature-break__testimony">
        <p class="c-feature-break__testimony-quote">
            I really loved my time
            at Moorland Camp in
            the UK. I especially
            enjoyed visiting
            Whitby. Moorland
            Camps are highly
            recommended!
        </p>
        <p class="c-feature-break__testimony-name">
            Paul, Korea
        </p>
    </div>
    <div class="c-feature-break__image-wrapper">
        <img src="/perch/resources/caroline-jackson-lozb8jpjlaa-unsplashsmall.jpg" alt="Whitby" class="c-feature-break__image">
        <div class="c-feature-break__caption">
            <p>Whitby</p>
            <p>North Yorkshire, UK</p>
        </div>
    </div>
</div>