<perch:before>
    <div class="c-hamburger">
        <div class="c-hamburger__menu">
</perch:before>
		<div class="c-hamburger__element <perch:if exists="current_page">c-hamburger__element--selected</perch:if><perch:if exists="ancestor_page">c-hamburger__element--ancestor</perch:if>">
            <a class="c-hamburger__link" href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>   
            <perch:pages id="subitems" encode="false" />
        </div>
<perch:after>
            <div class="c-hamburger__close">
                <svg width="12.32781mm" height="12.327812mm" viewBox="0 0 12.32781 12.327812" version="1.1">
                    <defs id="defs2"></defs>
                    <g inkscape:label="Layer 1" id="layer1" transform="translate(-8.837041,-271.65379)" class="c-cross__g">
                        <rect class="c-cross__rect" width="16.394718" height="1.0394346" x="-194.03687" y="206.53433" transform="rotate(-45)"></rect>
                        <rect transform="rotate(-135)" y="-186.35922" x="-215.2514" height="1.0394346" width="16.394718" class="c-cross__rect"></rect>
                    </g>
                </svg>
            </div>
        </div>
        <div class="c-hamburger__button">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</perch:after>